@model IEnumerable<ProyectoFinal_JoseDavidHerreraMiranda.Models.Machine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if ( Model.Count() < 2)
    {
        <a asp-action="Create">Create New</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Cost By Hour
            </th>
            <th>
                Products By Hour
            </th>
            <th>
                Hours To Be Repared
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                Created Date
            </th>
            <th>
                Last Modified Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostByHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsByHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursToBeRepared)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
